<footer>
    <div class="footer-content">
        <div class="footer-col">
            <img src="/images/logo.png" style="height:40px;">
            <div style="margin: 1rem 0 0.5rem 0; color:#009245; font-weight:700;">
                CÔNG TY TNHH CÔNG NGHỆ VÀ THƯƠNG MẠI UFO
            </div>
            <ul>
                <li><i class="fa-solid fa-location-dot"></i> Địa chỉ ĐKKD: Tầng 1, Tòa nhà số 109-111, Đường 08, KDC Trung Sơn, Bình Chánh, TP.HCM</li>
                <li><i class="fa-solid fa-location-dot"></i> Địa chỉ liên hệ: 262/3 Lũy Bán Bích, Tân Phú, TP.HCM</li>
                <li><i class="fa-solid fa-location-dot"></i> Kho: 284/11 Lũy Bán Bích, Tân Phú, TP.HCM</li>
                <li><i class="fa-solid fa-envelope"></i> Email: info@DSDP.5TN</li>
                <li><i class="fa-solid fa-phone"></i> Hotline: 02877702614 (8h00 - 18h00)</li>
                <li><i class="fa-solid fa-file-contract"></i> Giấy chứng nhận Kinh doanh số <strong>0314592854</strong></li>
                <li><i class="fa-solid fa-certificate"></i> Chứng nhận ATTP số <strong>4021/2022/BQLATTP-HCM</strong></li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>TÀI KHOẢN</h3>
            <ul>
                <li><a href="#">Tài khoản của tôi</a></li>
                <li><a href="#">Điểm thưởng của bạn</a></li>
                <li><a href="#">Giỏ hàng</a></li>
            </ul>
            <h3 style="margin-top:2rem;">THÔNG TIN</h3>
            <ul>
                <li><a href="#">Về Đặc Sản Địa Phương</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Tuyển dụng</a></li>
                <li><a href="#">Dự án Bản đồ Nông sản Việt</a></li>
                <li><a href="#">My Farm</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>HỖ TRỢ</h3>
            <ul>
                <li><a href="#">Phương thức thanh toán</a></li>
                <li><a href="#">Vận chuyển, đổi trả</a></li>
                <li><a href="#">Chính sách hoàn tiền</a></li>
                <li><a href="#">Liên hệ hỗ trợ</a></li>
            </ul>
            <h3 style="margin-top:2rem;">KẾT NỐI</h3>
            <div class="footer-social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <div class="footer-apps">
                <img src="https://foodmap.asia/assets/images/download_qr.svg" alt="App Store">
                <div style="margin-top: 1rem;">
                    <img src="https://foodmap.asia/assets/images/playstore.png" style="height:50px;" alt="Google Play">
                </div>
                <div style="margin-top: 1rem;">
                    <img src="https://foodmap.asia/assets/images/appstore.png" style="height:50px;" alt="QR tải app">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-note">
        Đặc Sản Địa Phương 2025. All rights reserved.
    </div>
</footer>
